    <!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
  <div class="fullwidthbanner hide-sm" data-height="600" data-shadow="0" data-navigationStyle="preview2">
    <ul class="hide">
      <!-- SLIDE  -->
      <li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Elevate Safety">
        <!-- MAIN IMAGE -->
        <%= image_tag("slide/slide_1_com.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
        <div class="overlay dark-6"></div>
        <div class="tp-caption font-roboto sfl tp-resizeme"
                        data-x="50"
                        data-y="120" 
                        data-speed="400"
                        data-start="1500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="600"
                        style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
          Elevate Safely With <br />
          Speed and Style
        </div>
        <div class="tp-caption content_text_center skewfromleft tp-resizeme"
                        data-x="50"
                        data-y="300" 
                        data-speed="500"
                        data-start="2000"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="600"

                        style="z-index: 3; font-size:35px; color:#fff; font-weight:300; text-shadow:none;">
          Dreaming of an elevator inside your cozy home ? <br />
          Our team has experts all around the world for your needs.
        </div>
        <div class="tp-caption sfl tp-resizeme"
                        data-x="50"
                        data-y="450" 
                        data-speed="300"
                        data-start="2500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                            
                        style="z-index: 6; max-width: auto; white-space: nowrap;">
          <a class="btn btn-lg btn-default btn-media" href="/quotes/new">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                        data-x="270"
                        data-y="450" 
                        data-speed="300"
                        data-start="2500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"

                        style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
          <a class="btn btn-lg btn-red btn-media" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
      </li>
      <!--SLIDE-->
      <li data-transition="parallaxtoleft" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential">
        <!-- MAIN IMAGE -->
        <%= image_tag("slide/slide_2_com.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
        <div class="overlay dark-5"><!-- dark overlay [0 to 9 opacity] --></div>
        <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                        data-x="50"
                        data-y="100" 
                        data-speed="500"
                        data-start="1500"
                        data-easing="Cubic.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
          Modern problems require<br>
          modern solutions !
        </div>
        <div class="tp-caption skewfromrightshort tp-resizeme"
                        data-x="50"
                        data-y="300" 
                        data-speed="500"
                        data-start="1000"
                        data-easing="easeInCirc"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        style="z-index: 3; font-size:35px; color:#fff; font-weight:300; text-shadow:none;">
          Rocket Elevators. The leader in Elevators since 1976 !
        </div>
        <div class="tp-caption sfb tp-resizeme"
                        data-x="50"
                        data-y="410" 
                        data-speed="500"
                        data-start="1500"
                        data-easing="Power3.easeIn"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        style="z-index: 4; max-width: auto;">
          <a class="btn btn-red btn-lg btn-media" href="static_pages/residential">SERVICE DETAILS &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="parallaxright" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate">
        <!-- MAIN IMAGE -->
        <%= image_tag("slide/slide_3_com.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
        <div class="overlay dark-5"><!-- dark overlay [0 to 9 opacity] --></div>
        <div class="tp-caption font-roboto sfl tp-resizeme"
                        data-x="100"
                        data-y="165" 
                        data-speed="400"
                        data-start="1500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="600"
                        style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none; text-align: right;">
          Tired of taking the stairs ?
        </div>
        <div class="tp-caption skewfromrightshort tp-resizeme"
                        data-x="100"
                        data-y="285" 
                        data-speed="400"
                        data-start="1500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="600"
                        style="z-index: 3; font-size: 30px; color:#fff; font-weight:300; text-shadow:none; text-align: left;">
          Get in touch with us now <br>
          and order one of our brand new elevator models for corporate buildings !
        </div>
        <div class="tp-caption sfb tp-resizeme"
                        data-x="100"
                        data-y="410" 
                        data-speed="400"
                        data-start="1500"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="600"
                        style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
          <a class="btn btn-red btn-lg btn-media" href="static_pages/corporate">SERVICE DETAILS &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /REVOLUTION SLIDER -->
<!-- BUTTON CALLOUT -->
<%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
  <span class="btn btn-xlg fullwidth btn-red fs-20 m-0 rad-0 p-40 hide-sm">
    <span class="font-lato fs-30">
      Did Rocket Elevators pick your curiosity ? 
      <strong>Contact us &raquo;</strong>
    </span>
  </span>
<% end %>
<!-- /BUTTON CALLOUT -->
<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <%= image_tag("services/elevator_3_1920x1000.png", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">Award Winning Elevators!</h3>
        <p>Rocket Elevators has gained many prices over the years, notably the 2020 golden gear award. Read more below !</p>
        <a href="#portfolio" class="btn btn-lg btn-default">OUR SUCCESS !</a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <%= image_tag("services/elevator_4_1920x1000.png", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">An elevator at home ?</h3>
        <p>Yes ! You read that right ! Rocket Elevators offers a large variety of residential elevators to choose from !</p>
        <a href="static_pages/residential" class="btn btn-lg btn-default">SERVICE DETAILS</a>
      </div>
      <div class="col-lg-4 col-md-6 mx-auto text-center" id="service-3">
        <%= image_tag("services/elevator_2_1920x1000.png", :alt => "image", :class => "img-fluid") %>
        <h3 class="mt-10">Spare your legs !</h3>
        <p>Taking the stairs to your office can be quite a tedious task when your building has many stories.
          That's why, we, at Rocket Elevators, offer you an outstanding amount of corporate models to choose from ! </p>
        <a href="static_pages/corporate" class="btn btn-lg btn-default">SERVICE DETAILS</a>
      </div>
    </div>
  </div>
</section>
<!-- /Services -->
<!-- Parallax -->
<section class="parallax parallax-1" id="parallax_index_1">
  <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-40 fw-300">Elevating You With Safety, Speed And Style Since 1976</h2>
      <a class="btn btn-default btn-lg" href="/quotes/new">GET A QUOTE</a>
      &nbsp; OR &nbsp;
      <%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
        <span class="btn btn-red btn-lg">CONTACT US</span>
      <% end %>
    </div>
  </div>
</section>
<!-- /Parallax -->
<!-- PORTFOLIO -->
<section id="portfolio">
  <div class="heading-title heading-dotted text-center" style="font-size: 30px;">
    <h2>Our portfolio</h2>
  </div>
  <div class="text-center">
    <ul class="nav nav-pills mix-filter mb-60">
      <li data-filter="all" class="filter active"><a href="#">All</a></li>
      <li data-filter="prizes" class="filter"><a href="#">Prizes</a></li>
      <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
      <li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
    </ul>
  </div>
  <div class="">
    <div class="portfolio-gutter">
      <div class="row mix-grid">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix corporate"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_3_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_3_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Marble Project</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Corporate</a></li>
                <li><a href="#portfolio">Marble</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix residential"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_5_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_5_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Glass Home</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Residential</a></li>
                <li><a href="#portfolio">Glass</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix residential"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_6_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_6_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Spiral Design</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Residential</a></li>
                <li><a href="#portfolio">Spiral</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix prizes"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_14_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_14_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Art Circle</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Prizes</a></li>
                <li><a href="#portfolio">Art</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix prizes"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_4_con.jpg', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_4_con.jpg", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Metallic Structures</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Prizes</a></li>
                <li><a href="#portfolio">Full Metal</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix prizes"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_2_con.jpg', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_2_con.jpg", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Project Intersect</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Prizes</a></li>
                <li><a href="#portfolio">Intersect</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix corporate"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_7_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_7_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Christmas Elevation</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Corporate</a></li>
                <li><a href="#portfolio">Christmas</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix corporate"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_8_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_8_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Minimalist Art</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Corporate</a></li>
                <li><a href="#portfolio">Art</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix residential"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_9_con.jpg', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_9_con.jpg", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>The Man Cave</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Residential</a></li>
                <li><a href="#portfolio">The Man Cave</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix prizes"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_10_con.jpg', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_10_con.jpg", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Highest Level</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Prizes</a></li>
                <li><a href="#portfolio">Infinity</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix residential"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_11_con.jpg', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_11_con.jpg", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Museum Home</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Residential</a></li>
                <li><a href="#portfolio">Art Museum</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mix residential"><!-- item -->
          <div class="item-box">
            <figure>
              <span class="item-hover">
                <span class="overlay dark-5"></span>
                <span class="inner">
                  <!-- lightbox -->
                  <%= link_to 'assets/portfolio/portfolio_12_con.png', :class => 'ico-rounded lightbox', :'data-plugin-options' => "{'type':'image'}" do %>
                    <%= content_tag :span, '', :class => "fa fa-plus fs-20" %>
                  <% end %>
                </span>
              </span>
              <%= image_tag("portfolio/portfolio_12_con.png", :alt => "image", :class => "img-fluid", :width => "600", :height => "399") %>
            </figure>
            <div class="item-box-desc">
              <h3>Bird Cage</h3>
              <ul class="list-inline categories m-0">
                <li><a href="#portfolio">Residential</a></li>
                <li><a href="#portfolio">Cage</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /item -->
      </div>
    </div>
  </div>
</section>
<!-- /PORTFOLIO -->
<!-- Testimonials -->
<section class="section-xs dark">
  <div class="container">
    <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
      <div class="testimonial">
        <figure>
          <%= image_tag("CEO/Serge_Savoie.png", :alt => "image", :class => "rounded") %>
        </figure>
        <div class="testimonial-content p-0">
          <p class="lead">Rocket Elevator is <b><em>the</em></b> number one reference in Elevators around the world since 1976 !</p>
          <cite>
            Serge Savoie
            <span>Company CEO.</span>
          </cite>
        </div>
      </div>
      <div class="testimonial">
        <figure>
          <%= image_tag("CEO/William_Sinclair.png", :alt => "image", :class => "rounded") %>
        </figure>
        <div class="testimonial-content p-0">
          <p class="lead">"Hi There !"</p>
          <%# William should be editing this line %>
          <cite>
            William Sinclair
            <span>Rocket Elevators' Employee</span>
          </cite>
        </div>
      </div>
      <div class="testimonial">
        <figure>
          <%= image_tag("CEO/Frimina_Zaddi.jpg", :alt => "image", :class => "rounded") %>
        </figure>
        <div class="testimonial-content p-0">
          <p class="lead">"Hi There !"</p>
          <%# William should be editing this line %>
          <cite>
            Frimina Zaddi
            <span>Rocket Elevators' Employee</span>
          </cite>
        </div>
      </div>
      <div class="testimonial">
        <figure>
          <%= image_tag("CEO/loic_rico.png", :alt => "image", :class => "rounded") %>
        </figure>
        <div class="testimonial-content p-0">
          <p class="lead">"Thanks to Rocket Elevators, I don't have to walk 30 stories to get to my office !"</p>
          <cite>
            Loic Rico
            <span>Employee of the year</span>
          </cite>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonials -->
<!-- News -->
<section id="news">
  <div class="container">
    <div class="heading-title heading-dotted text-center">
      <h2>Recent News</h2>
    </div>
    <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 7000, "navigation": true, "pagination": false, "progressBar": true}'>
      <div class="img-hover">
        <%= image_tag("news/news_1_com.png", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">COVID-19 proof elevators</h4>
        <p class="text-left">Rocket Elevators is well aware of the pandemic, this is why our experts redesigned every single one of our models to make them COVID-19 proof.</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Sept 5th 2020
          </li>
        </ul>
      </div>
      <div class="img-hover">
        <%= image_tag("news/news_2_com.png", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">Colley Elevator named Best Contractor by nationwide publication</h4>
        <p class="text-left">Colley Elevator Company in Bensenville recently announced its second consecutive win of the Elevator Industry (Ellie) Award for Best Contractor - North.</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Sept 9th 2020
          </li>
        </ul>
      </div>
      <div class="img-hover">
        <%= image_tag("news/news_3_com.png", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">Disability Accommodations</h4>
        <p class="text-left">Rocket Elevators CEO announces new elevator models for people with disabilities, coming in January of next year.</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Nov 29 2020
          </li>
        </ul>
      </div>
      <div class="img-hover">
        <%= image_tag("news/news_4_com.png", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">The Magnetic Elevator</h4>
        <p class="text-left">The industry of elevators are reinventing the wheel with their new magnetic elevator, no gears needed !</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Jul 20th 2020
          </li>
        </ul>
      </div>
      <div class="img-hover">
        <%= image_tag("news/news_5_com.jpg", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">A Colossal Elevator To Space?!</h4>
        <p class="text-left">For more than half a century, rockets have been the only way to go to space. But in the not-too-distant future, we may have another option for sending up people, the space elevator.</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Jan 1st 2020
          </li>
        </ul>
      </div>
      <div class="img-hover">
        <%= image_tag("news/news_6_com.png", :alt => "image", :class => "img-fluid") %>
        <h4 class="text-left mt-20">The "Way" To Transport You</h4>
        <p class="text-left">A new technology has the potential to break elevators free from their vertical prisons, allowing them to move side to side on an horizontal axis, experts say this could be the way of the future.</p>
        <ul class="text-left fs-12 list-inline list-separator">
          <li>
            <i class="fa fa-calendar"></i>
            Feb 25th 2020
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /News -->
<!-- Clients -->
<section id="clients" class="alternate">
  <div class="container">
    <div class="heading-title heading-dotted text-center">
      <h2>Our Customers</h2>
    </div>
    <div class="text-center">
      <h3>Rocket Elevators equipments are used all around the world by the most renowned companies.</h3>
    </div>
    <ul class="row clients-dotted list-inline">
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.amazon.com/">
          <%= image_tag("customers_logo/logo_amazon.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.apple.com/">
          <%= image_tag("customers_logo/logo_apple.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.coca-cola.com/">
          <%= image_tag("customers_logo/logo_coca-cola.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://disneyworld.disney.go.com">
          <%= image_tag("customers_logo/logo_disney.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.facebook.com/">
          <%= image_tag("customers_logo/logo_facebook.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.google.com/">
          <%= image_tag("customers_logo/logo_google.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.intel.com/">
          <%= image_tag("customers_logo/logo_intel.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://us.louisvuitton.com/">
          <%= image_tag("customers_logo/logo_louis_vuitton.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.mcdonalds.com/">
          <%= image_tag("customers_logo/logo_mcdonalds.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.microsoft.com/">
          <%= image_tag("customers_logo/logo_microsoft.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.nike.com/">
          <%= image_tag("customers_logo/logo_nike.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
      <li class="col-lg-3 col-md-4 col-6">
        <a target="_blank" href="https://www.samsung.com">
          <%= image_tag("customers_logo/logo_samsung.png", :alt => "clients", :class => "image-fluid") %>
        </a>
      </li>
    </ul>
  </div>
</section>
<%= render 'leads/new' %>
<script>
  plugin_path = '../assets/';
</script>
<a href="#" id="toTop">
  <span class="arrow-top">▲</span>
</a>
