<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="container">
    <div class="form-inputs row text-center">
      <div class="text-center col-12 mt-20">
        <h3 class="fw-300">Tell Us About Yourself</h3>
      </div>
      <%= f.input :full_name, required: 'true' %>
      <%= f.input :email, required: 'true' %>
      <%= f.input :phone, required: 'true' %>
      <div class="text-center col-12 mt-20">
        <h3 class="fw-300">Information About Your Project</h3>
      </div>
      <%= f.input :floors, input_html: {id: "floors"}, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true' %>
      <%= f.input :basements, input_html: {id: "basements"}, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true' %>
      <%= f.input :businesses, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true' %>
      <%= f.input :parking_spaces, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true' %>
      <%= f.input :occupants, input_html: {id: "occupants"}, :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189', required: 'true' %>
    </div>
    <div class="form-inputs row">
      <%= f.input :product_line, as: :radio_buttons, collection: [['Standard'], ['Premium'], ['Excelium']], label_method: :first, value_method: :first, required: 'true'  %>
    </div>
    <%= f.hidden_field :total_price, class: "total_price" %>
    <%= f.hidden_field :install_fee, class: "install_fee" %>
    <%= f.hidden_field :elevator_number, class: "elevator_number" %>
    <%= f.hidden_field :building_type, class: "building_type" %>
    <div class="form-actions text-center">
      <%= f.button :submit, class: "btn btn-lg btn-red" %>
      <input type="reset" class="btn btn-lg btn-default">
      <hr />
      <%= render 'quoteinfo' %>
    </div>
  </div>
  <%= recaptcha_action('quote') %>
<% end %>
