<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
<% end %>
<%= content_for :recaptcha_js do %>
  <%= include_recaptcha_js %>
<% end %>
<section class="parallax parallax-1" id="parallax-quote-1" >
  <div class="overlay dark-5">
  </div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-90 fw-300">GET A QUOTE</h2>
      <a class="btn btn-lg btn-default btn-lg" href="/">HOME <i class="fa fa-angle-right"></i></a>
      &nbsp; OR &nbsp;
      <%= link_to root_path(anchor: "contact"), 'data-turbolinks': false do %>
        <span class="btn btn-lg btn-red">CONTACT US <i class="fa fa-angle-right"></i></span>
      <% end %>
    </div>
  </div>
</section>
<section style="padding: 0;">
  <div class="heading-title heading-dotted text-center mt-35">
    <h3 class="fs-50">Select the type <span> of building</span></h3>
  </div>
  <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">
    <div class="card mb-0" id="res-card">
      <div class="card-header z-depth-1 teal lighten-4" role="tab" id="res">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true" aria-controls="collapse10" class="d-flex justify-content-center">
          <div button type="button"
                class="btn btn-lg btn-outline-danger text-center bold"
                style="width: 50%;">
            Residential
          </div>
        </a>
      </div>
      <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="res"
            data-parent="#accordionEx2">
        <div class="rgba-teal-strong white-text">
          <%= render 'residential' %>
        </div>
      </div>
    </div>
    <div class="card mb-0" id="com-card">
      <div class="card-header z-depth-1 teal lighten-3" role="tab" id="com">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11" aria-expanded="false" aria-controls="collapse11" class="d-flex justify-content-center">
          <div button type="button"
                  class="btn btn-lg btn-outline-info text-center bold" style="width: 50%;">
            Commercial
          </div>
        </a>
      </div>
      <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="com"
              data-parent="#accordionEx2">
        <div class="rgba-teal-strong white-text">
          <%= render 'commercial' %>
        </div>
      </div>
    </div>
    <div class="card mb-0" id="cor-card">
      <div class="card-header z-depth-1 teal lighten-2" role="tab" id="cor">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse12"
                aria-expanded="false" aria-controls="collapse12" class="d-flex justify-content-center">
          <div button type="button"
                  class="btn btn-lg btn-outline-danger text-center font-weight-bold"
                  style="width: 50%;">
            Corporate
          </div>
        </a>
      </div>
      <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="cor"
              data-parent="#accordionEx2">
        <div class="rgba-teal-strong white-text">
          <%= render 'corporate' %>
        </div>
      </div>
    </div>
    <div class="card mb-0" id="hyb-card">
      <div class="card-header z-depth-1 teal lighten-1" role="tab" id="hyb">
        <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse13"
                aria-expanded="true" aria-controls="collapse13" class="d-flex justify-content-center">
          <div button type="button"
                  class="btn btn-lg btn-outline-info text-center font-weight-bold"
                  style="width: 50%;">
            Hybrid
          </div>
        </a>
      </div>
      <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="hyb"
              data-parent="#accordionEx2">
        <div class="rgba-teal-strong white-text">
          <%= render 'hybrid' %>
        </div>
      </div>
    </div>
  </section>
  <section class="info-bar info-bar-color">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <h3>BUISNESS WORLDWIDE</h3>
          <p>We do business all over the world</p>
        </div>
        <div class="col-sm-4 text-center">
          <h3>SATISFACTION GUARANTEE</h3>
          <p>Peace of mind with us</p>
        </div>
        <div class="col-sm-4 text-center">
          <h3>ONLINE SUPPORT 24/7</h3>
          <p>We're here for you</p>
        </div>
      </div>
    </div>
  </section>
  <script>
    plugin_path = '../assets/';
  </script>
  <a href="#" id="toTop">
    <span class="arrow-top">▲</span>
  </a>
