<div id="header" class="navbar-toggleable-md sticky header-md clearfix">
  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container" id="top">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Logo -->
      <%= link_to image_tag('logo/R2.png'), root_path, class: "logo float-left scrollTo", 'data-turbolinks': false %>
      <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main nav-hover nav-onepage">
            <li class="active"><!-- HOME -->
              <%= link_to 'HOME', root_path, 'data-turbolinks': false %>
            </li>
            <li class="dropdown nav-animate-fadeIn resp-active"><!-- SERVICES -->
              <%= link_to 'SERVICES', root_path(anchor: "services"), 'data-turbolinks': false %>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="/static_pages/residential">RESIDENTIAL SERVICES</a>
                </li>
                <li class="dropdown">
                  <a href="/static_pages/corporate">CORPORATE SERVICES</a>
                </li>
                <li class="dropdown">
                  <%= link_to 'GET A QUOTE', new_quote_path %>
                </li>
              </ul>
            </li>
            <li><!-- PORTFOLIO -->
              <%= link_to 'PORTFOLIO', root_path(anchor: "portfolio"), 'data-turbolinks': false %>
            </li>
            <li><!-- NEWS -->
              <%= link_to 'NEWS', root_path(anchor: "news"), 'data-turbolinks': false %>
            </li>
            <li><!-- CLIENTS -->
              <%= link_to 'CLIENTS', root_path(anchor: "clients"), 'data-turbolinks': false %>
            </li>
            <li><!-- CONTACT -->
              <%= link_to 'CONTACT', root_path(anchor: "contact"), 'data-turbolinks': false %>
            </li>
            <% if can? :read, Quote %>
              <li><!-- BACKOFFICE -->
                <%= link_to 'BACKOFFICE', rails_admin_path %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <!-- ACCOUNT DROPDOWN -->
              <li class="dropdown nav-animate-fadeIn resp-active">
                <%= link_to 'MY ACCOUNT', edit_user_registration_path %>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <%= link_to 'MY ACCOUNT', edit_user_registration_path %>
                  </li>
                  <li class="dropdown">
                    <%= link_to 'MY QUOTES', my_quotes_path %>
                  </li>
                  <li class="dropdown">
                    <%= link_to 'MY LEADS', my_leads_path %>
                  </li>
                  <li class="dropdown">
                    <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
                  </li>
                </li>
              <% else %>
                <li><!-- REGISTER -->
                  <%= link_to 'REGISTER', new_user_registration_path %>
                </li>
                <li><!-- SIGN IN -->
                  <%= link_to 'SIGN IN', new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
</div>
<!-- /Top Nav -->
