<div class="container p-3 my-3 border" style="background-color: lightsteelblue; vertical-align: top;">

    <div class="card-block" style="background-color: lightsteelblue; vertical-align: top;">
        <div class="row">
            <div class="col-md-6">	

                <h1>Interventions#new</h1>
                <br>               

                <%# <%=select_tag(:id, options_from_collection_for_select(Employee.all, :user_id, :first_name), include_blank: true) %>
                <br>
                <%= label_tag(:id, "Select a Employee:") %>
                <%= collection_select(:id, :employee, Employee.all, :user_id, :first_name, include_blank: true) %>                
                <br>
                                    
                <%= label_tag(:id, "Select a Customer:") %>
                <%= collection_select(:customer, :id, Customer.all, :user_id, :company_name, include_blank: true,) %>
                <br>
                <%= label_tag(:id, "Select a Building:") %>
                <%= collection_select(:building, :id, @buildings, :id, :id, prompt: "Select something") %>
                <br>     

            </div>
                  
        </div>		
    </div>				
</div>

            <script>
                $(document).ready(function() {
                    console.log("hello-----------------")
                        $('#customer_id').change(function() {
                            console.log("customer_selection----------------")
                            $.ajax({
                                url: "<%= update_buildings_path %>",
                            data: {
                                customer_id: $('#customer_id').val()
                            },
                            dataType: "json",
                            success: function (response)
                                {
                                    console.log(response);
                                    var building = response["building"];
                                    $("#building_id").empty(); // Empty the chosen dropdown
                                    $("#building_id").append('<option>Select a building</option>');
                                    for(var i = 0; i < building.length; i++){
                                        $("#building_id").append('<option value="' + building[i]["id"] + '"> building id: ' +building[i]["id"] + '</option>');
                                    }
                                }
                        });
                    });
                });

                
            </script>
            

      

